<style>
	div form {text-align: center;}
	input{font-size:24px;text-align: center;}
	h2.form_title {text-align: center;}
	#flash {
			position: absolute;
			font-size: 24px;
			text-align: center;
			color:red;
			font-weight: bold;
			font-style: italic;
			top: 57%;
			left: 25%;
			}
</style>

<div>
	<h2 class="form_title">Please fill below to create your account</h2>
	<form action="/signup" method='post'>
		<h3>email:</h3> <h1><input type="email" name="user[email]" required="true"></h1>
		<h3>password:</h3><h1><input type="password" name="user[password]" required="true"><br></h1>
		<input type="submit" value="Create Account">

	</form>
</div>