
<head>
	<%= javascript_include_tag 'user_home' %>
</head>
<!--
<br>
<h4><%= link_to 'Make a new request', new_user_request_path(@user) %></h4>
<br>
-->
<!-- card start here -->

	<button id="popCreateRequest" type="button" class="btn btn-primary" data-toggle="modal" data-target="#createRequest">
		Create a New Request
	</button>

<br>
<div class="container-fluid" id="request-cards">
</div>
<!-- card stops here -->
<input type="hidden" id="user_id" value='<%= @user.id %>'>

<%= render partial: 'requests/request_modal' %>
<!-- Modal -->

