<div class='container-fluid'>
		<%= image_tag 'logobig.png', id:'main-logo', class: "img-fluid" %>
		<%= image_tag 'Rectangle2.png', id:'blue-wave2', class: "img-fluid"%>
		<%= image_tag 'Rectangle.png', id:'blue-wave', class: "img-fluid"%>

</div>

<h1>Welcome to Job Sniper!</h1>