body{
	font-family: sans-serif;
}

.container{
	display: inline-block;
	width: 100%
}

#lets{
	font-weight: 900;
	font-size: 2.3vmax;
	color: #05BFE0;
	line-height: 37px;
	margin-bottom: 4.125%;
	margin-left: 4rem;
}

#circles{
	position:fixed;
	height: 80%;
	max-width: 60%;
	bottom:0px;
	right:0px;
}

#symbols{
	position:fixed;
	height: 85%;
	bottom:64px;
	right:6%;
}

input{
	display: block;
	background-color: #DAF5FA;
	border: none;
	max-width: 30%;
	width: 30%;
	font-style: normal;
	font-size: 1.4vmax;
	font-weight: 400;
	padding: 12px;
	padding-left: 1%;
	margin-bottom: 1rem;
	margin-left: 13%;
	margin-right: 8rem;
	color: #C4C4C4;
}


#create{
	display: block;
	background-color: #05BFE0;
	border: none;
	max-width: 31.7%;
	width: 31.7%;
	padding: 12px;
	margin-top: 30px;
	font-weight:400;
	font-size:1.7vmax;
	color: #FFFFFF;
}

#top-image{
	margin-left: 4rem;
	margin-top: 2%;
	height: 5rem;
}

#name {
	font-style: italic;
	font-weight: 900;
	padding-bottom: 7px;
	font-size: 16px;
}

#position{
	font-weight: 600;
	padding-bottom: 7px;
}

#pmi-chapter{
	color: #05BFE0;
}

#line{
	border-left: solid 4px #05BFE0;
	padding-left:25px;
	height: 87px
}

.socialicons{
	margin-top: 16px;
	margin-right: 6px;
}

#email{
	color: #575757;
	font-weight: normal;
	padding-bottom: 7px;
}

a{
	/* text-decoration: none; */
	color: #05BFE0;
}

#textsign{
	font-family: 'Montserrat', sans-serif;
	color: #05BFE0;
	font-weight: normal;
	font-size: 30px;
	font-weight: 900;
	margin-top: 11%;
	margin-bottom: 80px;
	margin-left: 6%;
}

#logo{
	margin-right: 0px;
}

#signature{
	margin-left: 10%;
}

#buttons{
	display: inline;
}

#modify, #copy-signature{
	display:inline;
	background: #0080A8;
  cursor:pointer;
	border: none;
	max-width: 17.7%;
	width: 17.7%;
	padding: 12px;
	margin-top: 11.5%;
	margin-right: 0.5%;
	font-weight:400;
	font-size:1.2vmax;
	margin-left: 1%;
	color: #FFFFFF;
}
#modify:hover, #copy-signature:hover{
	box-shadow: 0px 3px 10px rgba(19, 127, 212, 0.75);
}

#modify{
	margin-left: 6%;
}

#signature{
	color: #575757;
}

.modal {
	font-family: 'Montserrat', sans-serif;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: initial !important;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
	margin: 10% auto; /* 15% from the top and centered */
	height: 50%;
	padding: 20px;
	overflow-y: auto;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#modal-close:hover,
#modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}