.pmi{
	font-family: sans-serif;
}

.form-container-pmi{
	display: inline-block;
	width: 100%
}

#lets{
	font-weight: 900;
	
	font-size: 2.3vmax;
	color: #05BFE0;
	margin-bottom: 4.125%;
	margin-left: 2%;
}

#circles{
	position:fixed;
	height: 80%;
	bottom:0px;
	max-width: 50%;
	top: 20%;
	right:0px;
}

#symbols{
	position:fixed;
	height: 43vmax;
	max-width: 50%;
	bottom:7%;
	right:6%;
}

.pmi-input{
	display: block;
	background-color: #DAF5FA;
	border: none;
	width: 30%;
	font-style: normal;
	font-size: 1.4vmax;
	font-weight: 400;
	padding: 0.5vmax;
	padding-left: 1vmax;
	margin-bottom: 12px;
	margin-left: 13%;
	margin-right: 1.4vmax;
	color: #C4C4C4;
}


#create{
	display: block;
	background-color: #05BFE0;
	border: none;
	max-width: 31.7%;
	width: 31.7%;
	padding: 12px;
	margin-top: 30px;
	font-weight:400;
	font-size:1.7vmax;
	color: #FFFFFF;
}

#top-image{
	margin-left: 2%;
	margin-top: 2%;
	height: 6vmax;
}

#textsign{
	font-family: 'Montserrat', sans-serif;
	color: #05BFE0;
	font-weight: normal;
	font-size: 1.95vmax;
	font-weight: 900;
	margin-top: 11%;
	margin-bottom: 7vmax;
	margin-left: 6%;
}

#signature{
	margin-left: 10%;
	max-width: 80%;
	
}

#buttons{
	display: inline;
}

#modify, #copy-signature{
	display:inline;
	background: #0080A8;
  cursor:pointer;
	border: none;
	max-width: 17.7%;
	width: 17vmax;
	padding: 12px;
	margin-top: 9vmax;
	margin-right: 0.5%;
	font-weight:400;
	font-size:1.2vmax;
	margin-left: 1%;
	color: #FFFFFF;
}
#modify:hover, #copy-signature:hover{
	box-shadow: 0px 0.1vmax 0.4vmax rgba(19, 127, 212, 0.75);
}

#modify{
	margin-left: 6%;
}

.modal {
	font-family: 'Montserrat', sans-serif;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: initial !important;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
	margin: 10% auto; /* 15% from the top and centered */
	height: 50%;
	padding: 20px;
	overflow-y: auto;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#pmi-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#modal-close:hover,
#modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}