@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');


// * {
//   transition: all 0.3s ease-out;
// }

html,
body {
  height: 100%;
  font-family: "Nunito", sans-serif;
	font-size: 16px;
}

.container-fluid{
  width: 100%;
  height: 100%;
  align-items: center;

 	// background-color: rgb(66, 142, 255);
}

h5#request-titles {
  color: #262626;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

}

p {
  font-size: 17px;
  font-weight: 400;
	&.small {
    font-size: 14px;
  }
}

#includes{
	font-size: 12px;
  font-weight: 400;
	color: darkblue;
	margin-bottom: 0px;
}
#excludes{
	font-size: 12px;
  font-weight: 400;
	color: rgb(249, 191, 66);
	margin-left: 0px;
	padding: 0px;
	margin-bottom: 0px;
}

a#not-updated{
	color: yellow;
}

h6 {
	color: #3d9ae2;
	font-size: 15px;
	 line-height: 15px;
		font-weight: 700;
	padding-bottom: 20px;
	margin-top: 8px;
}

.update-status {
	color: green;
}

svg {
	padding-top: 10px;
	padding-bottom: 10px;
}

.card4 {
	display: inline-block;
  position: relative;
	width: 262px;
  height: 230px;
	margin-right: 15px;
	padding: 10px;

}

/* This container is needed to position the front and back side */
.card4-inner {
  position: relative;
  width: 100%;
  height: 100%;
	text-align: center;
	background-color: transparent;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.card4:hover .card4-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.card4-front, .card4-back {
	position: absolute;
	width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.card4-front {
	border-width: 1mm;
	border-style: dotted;
	border-color: #3d9ae2;
}

/* Style the back side */
.card4-back {

	background-color: rgb(151, 151, 220);
  color: white;
	transform: rotateY(180deg);
}

.buttons{
	margin: 10px;
}

.job-count{
	font-weight: bold;
	color: rgb(243, 200, 120);
}