<%= javascript_include_tag 'application' %>
<%= javascript_include_tag "pmi_email" %>

<div class='container'>
	<h3 id='textsign'>Here we go!</h3>
	<div id="signature">
		<%= render partial: 'signature' %>
	</div>
	<div id='buttons'>
		<input type="button" value="Modify" onclick="history.back()" id='modify'>
		<input type="button" value="Copy to email" id='copy-signature'>
		<div id="myModal" class="modal">
		  <div class="modal-content">
    		<span id="pmi-close">&times;</span>
    		<h2>PMI Email Signature Guidelines</h2>
				<h3>Outlook</h3>
				<ul>
					<li>Open a new email message</li>
					<li>On the Message menu, select Signature>Edit Signatures</li>
					<li>Under Select signature to edit, choose New or +(in Mac), and in the New Signature dialog box, type a name for the signature</li>
					<li>Paste (CTRL+V) your PMI signature into the Edit signature box</li>
					<li>If you want your signature added to all messages by default, in the E-mail account drop-down box, choose an email account to associate with the signature and select the PMI signature for new and/or replies/forwards drop-down box</li>
					<li>If you don't want to automatically add a signature to new messages, choose (none). This doesn't add a signature to any messages you reply to or forward</li>
					<li>Choose OK to save your new signature and return to your message</li>
					<li>If you don't choose to insert a signature for all new messages or replies and forwards, you can still insert a signature manually in your email message, on the Message tab, select Signature</li>
					<li>Choose your signature from the fly-out menu that appears. If you have more than one signature, you can select any of the signatures you've created.</li>
				</ul>
				<h3>GMAIL</h3>
				<ul>
					<li>Open the Gmail</li>
					<li>On the Gear icon, then select Settings</li>
					<li>On the General tab scroll down to Signature</li>
					<li>Click Create New and add a name to it </li>
					<li>Paste (CTRL+V) your PMI signature</li>
					<li>Click “Insert signature before quoted text in replies...” and ensure your new signature has been selected for New Emails, Reply and Forward</li>
					<li>Save Changes</li>
					<li>Return to your inbox and start a new message, your signature will be automatically populated.</li>
				</ul>
				<h3>Apple mail mobile</h3>
				<ul>
					<li>Paste (CTRL+V) your PMI signature in email from your computer or device and send it to yourself.</li>
					<li>Open the Mail app.</li>
					<li>Tap the email to open it.</li>
					<li>Tap and hold the signature so that the selection tool appears.</li>
					<li>Tap Select All to highlight the entire signature.</li>
					<li>Tap Copy.</li>
					<li>Press the Home button to return to your Home screen.</li>
					<li>Launch Settings from your Home screen.</li>
					<li>Tap Mail, Contacts, Calendars.</li>
					<li>Tap Signature under the Mail section.</li>
					<li>Tap and hold the empty Signature field to bring up the selection tool.</li>
					<li>Tap Paste from the pop-up menu to insert your PMI signature.</li>
				</ul>
  		</div>
		</div>
	</div>
	
	<%= image_tag 'pmi_email/PMI_symbols.png', id: "symbols"%>
</div>













































