<%= javascript_include_tag 'application' %>
<%= javascript_include_tag "pmi_email" %>

<div class='container'>
	<h3 id='textsign'>Here we go!</h3>
	<div id="signature">
		<%= render partial: 'signature' %>
	</div>
	<div id='buttons'>
		<input type="button" value="Modify" onclick="history.back()" id='modify'>
		<input type="button" value="Copy to email" id='copy-signature'>
	</div>
	<%= image_tag 'pmi_email/PMI_symbols.png', id: "symbols"%>
</div>



