<!doctype html>
<html>
  <head>

	<%# <link rel="stylesheet" type="text/css" href="/app/views/style.css"/> %>
	<style>
		#greeting {text-align: left}
	</style>
    <title>JobSniper</title>
  </head>
  <body>
	<h5>JobSniper, version 0.00001</h5>
	<%if logged_in?%>
		<div>
			<h2 id="greeting">Hello, <%=current_user.username%></h2>
			<a href="/logout">logout</a><br>
			<a href="/<%=current_user.username%>/home">my account</a>
		</div>
	<%end %>
	<hr>

	<%=yield%>
  </body>
</html>