<!DOCTYPE html>
<head>
	

	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">


	<%= stylesheet_link_tag "pmi_emails" %>
	
		

	</head>
<body>

	

	<%= yield %>
</body>
